::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #c9d0d3 transparent;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #c9d0d3 transparent;
}

:root {
    --color-message-text: #000000DE;
}
  
[data-theme='dark'] {
    --color-message-text: #000000DE;
}